.flexbox-container {
    display: flex;
}

.flexbox-container.flexbox-navbar{
    flex-flow: column wrap;
}
.flexbox-container.flexbox-head{
    flex-flow: column wrap;
    align-items: center;

}

.flexbox-container.flexbox-text{
    flex-flow: column wrap;
}

.flexbox-container.flexbox-table{
    flex-flow: column wrap;
}

.flexbox-container.flexbox-img{
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}
.flexbox-container.flexbox-form {
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
}

header{
    height: 600px;
    max-width: 800px;
    margin:auto;

}

.headerImage {
    margin:auto;
    background-repeat: no-repeat;
    background-image: url(MizutsuneInABox.jpg);
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: 100%;
    max-width: 800px;
    

}
.headerLine{
    padding: 90px 0px 0px 370px;
}


h1 {
    color: rgb(10, 15, 78);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    color:rgb(10, 15, 78);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    color:rgb(10, 15, 78);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 16px auto 20px auto;
    background-image: url("bg.png");
    text-align: center;
    padding: 10px 0 0 0;
}
p {
    line-height: 136%;
}

#navbar {
    overflow: hidden;
    background-color: #7866ef;
    width: 100%;
    max-width: 800px;

}
#navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: seashell;

}

#navbar a:hover{
    color:black;
    background-color: rgb(202, 160, 44);
    border-radius: 8px;
}
#navbar a.current{
    color:black;
}

.sticky {
    position: fixed;
    top: 0;
}

table, th, td {
    border: 1px solid black;
    padding: 3px;
    margin: auto;
}
th{
    background-color:rgb(255,0,0);
    color:seashell;
}
ol{
    list-style-type: none;
    padding: 0em;
}

form {

    border: 1px solid black;
    text-align: left;
    background-color: #7866ef;
    padding: 5px;
    line-height: 136%;
    color: seashell;
}
input {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
select {
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
}
.dropdown{
    width: 207px;
}
.textbox{
    width: 250px;
}
button {
    padding: auto;
    width: auto;
    height: auto;
}

.steam {
    color: #07193e;
}
.battlenet{
    color: #017aff;
}
.discord{
    color: #7188d8;
}

#discord{
    display: inline;
    padding-left:350px;
}
@media screen and (max-width:600px){
    .headerImage{
        width: 100%;
        
    }
    .headerLine{
        width: 40%
    }  
    
}
@media screen and (max-width:1024px){
    
}