/*Flexbox*/

.flexbox-container {
    display: flex;
}

.flexbox-container.flexbox-navbar {
    flex-flow: row nowrap;
    justify-content: flex-end;
}

.flexbox-container.flexbox-head {
    flex-flow: column wrap;
    align-items: center;
}

.flexbox-container.flexbox-text {
    flex-flow: column wrap;
}

.flexbox-container.flexbox-table {
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

.flexbox-container.flexbox-img {
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

.flexbox-container.flexbox-pdf {
    flex-flow: column wrap;
    justify-items: center;
    align-items: center;
}

.flexbox-container.flexbox-pdf iframe {
    width: 100%;
    max-width: 800px;
    height: 500px;
}

.flexbox-container.flexbox-form {
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.flexbox-container.flexbox-form.flexbox-form-row {
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.flexbox-container.flexbox-link {
    flex-flow: row nowrap;
}

/*Unified Header*/

header {
    height: 600px;
    max-width: 800px;
    margin: auto;
}

.headerImage {
    margin: auto;
    background-repeat: no-repeat;
    background-image: url(MizutsuneInABox.jpg);
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    background-size: 100%;
    max-width: 800px;
}

.headerLine {
    padding: 4% 0% 0% 45%;
}

/*Generic Elements*/

h1 {
    color: rgb(10, 15, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

h2 {
    color: rgb(10, 15, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

h3 {
    color: rgb(10, 15, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}

p {
    line-height: 136%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 16px auto 20px auto;
    background-image: url("bg.png");
    text-align: center;
    padding: 10px 0 0 0;
    max-width: 800px;
}

a {
    transition: all 500ms;
}

a:hover {
    transform: rotate(360deg);
}

/*id elements*/

#Robin {
    max-width: 40%;
    width: 100%;
}

#Robin>img {
    width: inherit;
    height: inherit;
}

#Crusader {
    max-width: 300px;
    width: 100%;
}

#Crusader>img {
    width: inherit;
    height: inherit;
}

#ClassSprites {
    max-width: 400px;
    width: 100%;
}

#ClassSprites>img {
    width: inherit;
    height: inherit;
}

#BuildCard {
    max-width: 800px;
    width: 100%;
}

#BuildCard>img {
    width: inherit;
    height: inherit;
}

#Video {
    max-width: 600px;
    width: 100%;
}

#Video>video {
    width: inherit;
    height: inherit;
}

#Table {
    width: 100%;
    max-width: 800%;
}

#Table table {
    width: inherit;
    height: inherit;
}

/*Navbar*/

#navbar {
    overflow: hidden;
    background-color: #7866ef;
    width: 100%;
    max-width: 800px;
}

#navbar a {
    float: right;
    display: block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    color: seashell;
    transition: font-size 500ms;
}

#navbar a:hover {
    color: black;
    background-color: rgb(202, 160, 44);
    border-radius: 8px;
    font-size: 110%;
}

#navbar a.current {
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
}

/*Tables*/

table, th, td {
    border: 1px solid black;
    padding: 3px;
    margin: auto;
}

th {
    background-color: rgb(255, 0, 0);
    color: seashell;
}

ol {
    list-style-type: none;
    padding: 0em;
}

/*Form*/

.topMargin {
    margin-top: 70px;
}

fieldset {
    border-radius: 10px;
    padding: 10px;
}

label {
    color: rgb(10, 15, 78);
}

select {
    padding: 5px 3px 5px 3px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

input[type=text] {
    padding: 5px 3px 5px 3px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}

button {
    margin: 10px 0 5px;
    border-radius: 8px;
    padding: 3px 6px 3px 6px;
}

/*Icons*/

.steam {
    color: #07193e;
}

.battlenet {
    color: #017aff;
}

.discord {
    color: #7188d8;
}

#discord {
    display: inline;
    margin-left: 100%;
}

/*Tablet*/

@media screen and (max-width:1024px) {
    h1 {
        font-size: 150%;
    }
    .headerImage {
        width: 100%;
    }
    .headerLine {
        font-size: 180%;
    }
    .fab {
        font-size: 250%;
    }
    header {
        height: 600px;
    }
    .flexbox-container.flexbox-pdf iframe {
        width: 100%;
        height: 600px;
    }
    #Sprite {
        height: 150px;
    }
}

/*Mobil*/

@media screen and (max-width:600px) {
    h1 {
        font-size: 120%;
    }
    h2 {
        font-size: 100%;
    }
    h3 {
        font-size: 80%;
    }
    p {
        font-size: 80%;
    }
    .headerImage {
        width: 100%;
    }
    .headerLine {
        font-size: 120%;
        padding-top: 70px;
    }
    .fab {
        font-size: 170%;
    }
    #navbar {
        flex-direction: column;
    }
    #navbar a {
        padding: 2px;
    }
    header {
        height: 430px;
    }
    .flexbox-container.flexbox-pdf iframe {
        width: 100%;
        height: 500px;
    }
    #Sprite {
        height: 100px;
    }
    #Table th {
        font-size: 70%;
    }
    #Table td {
        font-size: 70%;
        padding: 0px;
    }
}